/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 # require_self puts the CSS contained within this file at the top of any other CSS being imported in the following lines
 *= require_self
 # require_tree . then imports every other file in your app/assets/stylesheets/ directory.
 *= require_tree .
 */
:root {
  --primary-color: #4286f4;
  --secondary-color: #037673;
  --faded-primary: #94bcfc;
}